body {
    text-align: center;

}

#data-table {
    display: flex;
    justify-content: center;
}

table {
    width: 100%;
}

.table-border {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    box-sizing: border-box;
    padding: 20px;
}

table, th, td
{
    margin: 10px 0;
    padding: 19px 4px;
    font: 15px Helvetica, sans-serif;
    border-collapse: collapse;
}
th {
    font-weight:bold;
    padding: 10px 15px;
}

table tr:nth-child(even) {
    background: #f2f2f2;
}

.search {
    padding-bottom: 10px;
    text-align: left;
    padding-top: 50px;
    position: relative;
}

#search_input {
    padding: 5px 15px;
}

.input {
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
}

*, *:after, *:before {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      font-family: arial;
    }
.form-row {
  margin-bottom: 20px;
  padding: 4px 0;
  position: relative; }
.form-block {
  border: 1px solid #cccccc;
  margin-bottom: 8px;
  padding: 8px 12px; }

.input {
  
    background-color: white;
    -webkit-appearance: none;
    border: 1px solid #cccccc;
    font-family: Arial;
    margin-bottom: 8px;
    padding: 8px 4px;
    position: relative;
    width: 100%;
    z-index: 3; 
    border: none;
        width: 100%;
    border-bottom: 1px solid black;    
    
}
  
.input:focus {
    box-shadow: 0 0 6px rgba(0, 200, 222, 0.25);
    background-color: #fafafa; 
}

.label-helper {
  position: absolute;
  opacity: 0;
  transition: .2s bottom, .2s opacity;
  bottom: 0;
  left: 0;
  z-index: 1; 
}

.input:focus + .label-helper, .input:invalid + .label-helper {
  bottom: 50%;
  font-family: arial;
  font-size: 14px;
  line-height: 1;
  opacity: 1;
  padding: 4px; 
}

.input:invalid {
  border-left: 10px solid #f00; 
}
  
.input:invalid + .label-helper::after {
    color: #f00;
    content: "X";
    font-family: arial;
    font-size: 14px;
    line-height: 1;
    padding-left: 12px; 
}