html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
    text-align: center;
}

.h1 {
    font-size: 31px;
    margin: 30px;
    font-weight: bold;
}

.grid-container {
  display: grid;
  justify-content: center;
  grid-auto-columns: 80%;
}

#data-table {
    display: flex;
    justify-content: center;
}

table {
    width: 100%;
}

.table-border {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    box-sizing: border-box;
    padding: 20px;
}

table, th, td {
    margin: 10px 0;
    padding: 20px 5px;
    font: 15px Helvetica, sans-serif;
    border-collapse: collapse;
}

th {
    font-weight:bold;
    padding: 10px 15px;
}

table tr:nth-child(even) {
    background: #f2f2f2;
}

.search {
    padding-bottom: 10px;
    text-align: left;
    padding-top: 50px;
    position: relative;
}

#search_input {
    padding: 5px 15px;
}

.input {
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
}

*, *:after, *:before {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      font-family: arial;
    }

.form-row {
  margin-bottom: 20px;
  padding: 4px 0;
  position: relative; 
}

.form-block {
  border: 1px solid #cccccc;
  margin-bottom: 10px;
  padding: 10px 15px; 
}

.input {
    background-color: #fff;
    -webkit-appearance: none;
    border: 1px solid #ccc;
    font-family: Arial;
    margin-bottom: 10px;
    padding: 10px 5px;
    position: relative;
    width: 100%;
    z-index: 3; 
    border: none;
    width: 100%;
    border-bottom: 1px solid black;
}
  
.input:focus {
    box-shadow: 0 0 6px rgba(0, 200, 222, 0.25);
    background-color: #fafafa; 
}

.label-helper {
  position: absolute;
  opacity: 0;
  transition: .2s bottom, .2s opacity;
  bottom: 0;
  left: 0;
  z-index: 1; 
}

.input:focus + .label-helper, .input:invalid + .label-helper {
  bottom: 50%;
  font-family: arial;
  font-size: 15px;
  line-height: 1;
  opacity: 1;
  padding: 5px; 
}

.input:invalid {
  border-left: 10px solid #f00; 
}
  
.input:invalid + .label-helper::after {
    color: #f00;
    content: "X";
    font-family: arial;
    font-size: 14px;
    line-height: 1;
    padding-left: 15px; 
}

@media (max-width: 320px) {
  .table-border {
    overflow: scroll;
  }

  .grid-container  {
      justify-content: left;
      overflow: auto;
  }

  .h1 {
    font-size: 31px;
    margin: 30px;
    font-weight: bold;
  }
}

@media (max-width: 481px) {
  .table-border {
    overflow: scroll;
  }

}

@media screen and (max-device-width: 992px) {
  .classForiPhoneDisplay {
    font-size: 1.2em;
  }
}

@media screen and (min-device-width: 768px) {
  .minimumiPadWidth {
    clear: both;
    margin-bottom: 2px solid #ccc;
  }
}



@media screen and (min-device-width: 1199px) {
  .grid-container {
    margin-bottom: 2px solid #ccc;
  }
}

